/* The code below makes the background of the header black and the font color of the title white. Change this to match what you want for your website. */
title {
  position: relative;
  text-align: center;
  color: white;
} 

.centered {
  position: absolute;
  bottom: 20px;
  top: 20px;
  font-size:100px;
  color:white;
}
